deploy.config.json
projekt/deploy.config.json
app-secrets.json
node_modules/
checklistearbeit/
checklistearbeit.html
projekt/checklistearbeit/
projekt/checklistearbeit.html
test-checklist.html
projekt/test-checklist.html
projekt/backups-local/*
!projekt/backups-local/.gitkeep
!projekt/backups-local/HINWEIS.txt
